[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=raj
Group=raj
WorkingDirectory=/home/raj/app/src/
Environment="PATH=/home/raj/app/venv/bin"
EnvironmentFile=/home/raj/.env
ExecStart=/home/raj/app/venv/bin/gunicorn -w 1 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target